@use '../styles/imports' as *;

.navbar-brand {
  font-weight: bold;
  color: $brand-color !important;
}

.recipe-card {
  @include card-hover;

  .recipe-img {
    height: 200px;
    object-fit: cover;
  }
}

.search-input {
  width: 250px;

  @media (max-width: 992px) {
    width: 100%;
    margin-top: 10px;
  }
}

.card {
  border-radius: $border-radius;

  .card-body {
    h3 {
      font-weight: 600;
    }
  }
}


.dropdown-menu {
  --bs-dropdown-bg: #fff !important;
  --bs-dropdown-link-color: $text-color !important;
  --bs-dropdown-link-hover-bg: rgba($brand-color, 0.1) !important;
  --bs-dropdown-link-hover-color: $brand-color !important;
  --bs-dropdown-link-active-bg: $brand-color !important;
  --bs-dropdown-link-active-color: $brand-color !important;
  --bs-dropdown-border-color: rgba(0, 0, 0, 0.1) !important;
}
.dropdown-item {
  color: $text-color;
  background: none;
  transition: background-color 0.15s ease, color 0.15s ease;

  &:hover,
  &:focus {
    background-color: lighten($brand-color, 45%);
    color: $text-color;
  }

  &:active {
    background-color: $brand-color;
    color: #fff;
  }
}

